# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Calculator/Debug
Calculator/Release
*.rc
*.aps
*.cd
*.vcxproj
*.user
*.filters
Debug/*
Release/*
*.sdf
*.sln
*.suo
*.dgml
